.vs/
GameScore.SeedDbJob/bin
GameScore.SeedDbJob/obj
GameScore.Entities/bin
GameScore.Entities/obj
GameScore.DAL/bin
GameScore.DAL/obj
GameScore.API/bin
GameScore.API/obj
GameScore.UI/bin
GameScore.UI/obj