
@model Dictionary<int, GameScore.UI.ViewModels.GameViewModel>

@foreach (var game in Model)
{
    <div class="card" style="width: 18rem; margin:5px">
        <img class="card-img-top" src="@game.Value.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">@game.Value.Name</p>
        </div>
    </div>
}