
@model List<GameScore.UI.ViewModels.GameViewModel>

@foreach (var game in Model)
{
    <div class="card text-white bg-transparent" style="width: 18rem; margin:5px">
        <img class="card-img-top" src="@game.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <a class="game-item card-text text-white" 
               asp-controller="Game" 
               asp-action="Details"
               asp-route-id="@game.Id">@game.Name</a>
        </div>
    </div>
}