<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameScore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
</head>
<body class="bg-dark">
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">
					<h6>GameScore</h6>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="input-group">
					<input id="searchBar" class="form-control search-form text-dark" type="text" placeholder="Search" aria-label="Search" onchange="SearchGame();">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
							<i class="fa fa-search" onclick="SearchGame();"></i>
						</button>
					</span>
				</div>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="custom-container d-flex">
		<div class="col-md-2 col-xs-2">
			<partial name="_Sidebar" />
		</div>
		<main role="main" class="col-10 pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://kit.fontawesome.com/c0c7b73c7a.js" crossorigin="anonymous"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script type="text/javascript">
		var searchUrl = '@Url.Action("Search", "Game")'
	</script>

	@RenderSection("Scripts", required: false)
</body>
</html>
