
    <ul class="navbar-nav">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" title="Manage">Hi @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Account" asp-action="Logout" class="nav-link text-dark">Logout</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a asp-controller="Account" asp-action="Login" class="nav-link text-dark">Login</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Account" asp-action="Register" class="nav-link text-dark">Register</a>
            </li>
        }
    </ul>
