<!-- Side navigation -->
<div class="sidenav">
	<ul>
		<li><a href="#">About</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">Clients</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</div>