<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/rate-classes.css" />
	<link rel="stylesheet" href="~/css/rate-ids.css" />
</head>
<body class="bg-white">
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/c0c7b73c7a.js" crossorigin="anonymous"></script>
    <script src="~/js/userRatings.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
