<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/rate-classes.css" />
	<link rel="stylesheet" href="~/css/rate-ids.css" />
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body class="bg-white">
	@RenderBody()

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/userRatings.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
