

<div class="col-md-6">
	<div class="col-xs-12 col-md-8 text-center">
		<div class="rating">
			<span class="fas fa-camera"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
		</div>
	</div>
	<div class="col-xs-12 col-md-8 text-center">
		<div class="rating">
			<span class="fas fa-gamepad"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
		</div>
	</div>
	<div class="col-xs-12 col-md-8 text-center">
		<div class="rating">
			<span class="fas fa-headphones"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
		</div>
	</div>
	<div class="col-xs-12 col-md-8 text-center">
		<div class="rating">
			<span class="fas fa-book"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
			<span class="far fa-star"></span>
		</div>
	</div>
</div>
