@model List<GameScore.UI.ViewModels.GameViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @foreach (var game in Model)
    {
       <div class="row">
           <img style="height: 400px; width: 450px;" src="@game.ImageUrl"/>
       </div>
    }
</div>
