
@model List<GameScore.UI.ViewModels.GameViewModel>

<div class="row infinite-scroll">
	<partial name="_GamesPage" model="Model" />
</div>

@section scripts{
	<script src="~/js/infiniteScroll.js"></script>
	<script type="text/javascript">
        var moreRowsUrl = '@Url.Action("RenderGamesPage", "Home")';

        $(window).scroll(ulScrollHandler);
	</script>
}