@model List<GameScore.UI.ViewModels.GameViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var game in Model)
    {
        <div class="card" style="width: 18rem; margin:5px">
            <img class="card-img-top" src="@game.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">@game.Name</p>
            </div>
        </div>
    }
</div>
