@model GameScore.UI.ViewModels.GameDetailsViewModel

@{ 
	Layout = "_Layout";
}

<div class="col-xs-12 col-md-12 text-white">
	<h1>@Model.Name (@Model.ReleaseDate)</h1>

    <div class="row score-components-container" style="display: flex;">
        <img class="col-xs-6 col-md-6 card-img-top" src="@Model.ImageUrl" alt="Card image cap">
        <div id="scoreContainer" class="col-xs-12 col-md-6">
            @await Component.InvokeAsync("Score", new { id = Model.Id })
        </div>
        <div id="rateContainer" class="col-xs-12 col-md-6">
            @await Component.InvokeAsync("Rate", new { id = Model.Id })
        </div>
    </div>
</div>