@model GameScore.UI.ViewModels.GameDetailsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: white">@Model.Name</h1>

<img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">

