@model GameScore.UI.ViewModels.GameDetailsViewModel

<h1>@Model.Name</h1>

<img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">

<p>Release Date: @Model.ReleaseDate</p>

<div class="container">
	<div class="row">
		@await Component.InvokeAsync("Score")
		@await Component.InvokeAsync("Rate", new { id = Model.Id })
	</div>
</div>