.rate-container {
	margin-top: 5px;
	display: flex;
}

.rate-icon {
	margin-right: 5px;
	margin-top: 10px;
}

.submit-rate {
	margin-top: 10px;
	margin-left: 17px;
}

.progress-container {
	height: 30px;
}

.stars {
	color: orange;
}

.user-rates{
	margin-top: 5px;
}
